nav{
    display: flex;
    justify-content: space-around;
    background-color: rgba(128, 128, 128, 0.628);
    margin-bottom: 1rem;
}

nav ul{
    list-style: none;
    display: flex;
    gap:1rem
}
nav a{
    text-decoration: none;
    color:black
}

nav a.active{
    color:white
}