nav{
    display: flex;
    justify-content: space-around;
    background-color: rgba(128, 128, 128, 0.33);
    margin-bottom: 1rem;
}

ul{
    list-style: none;
    display: flex;
    gap:1rem
}
a{
    text-decoration: none;
    color:black
}

nav a.active{
    color:rgba(76, 190, 58, 0.779)
}